<div id="login">
  <%= form_for @user, url: {controller: "static_pages", action: "login_authentication"}, html: {method: "post" } do |f| %>
    
    <% if flash[:unsuccessful_login] %>
      <div id="unsuccessful_login">
        <%= flash[:unsuccessful_login] %>
        <span id="close_unsuccessful_login">&times;</span>
      </div>
    <% end %>
    <div id="login_email_pass_container">
      <%= f.email_field :email, autofocus: true, placeholder: "email", class: "login_field" %>
      <%= f.password_field :pass, placeholder: "password", class: "login_field" %>
    </div>  
    
  <%= f.submit "Login", class: "createbutton" %>

  <% end %>

</div>