<div id="login">
<div id="title">Login</div>
<%= form_for @user, url: {controller: "book", action: "index"}, html: {method: "get" } do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<tr>
  <div class="field">
    <td>
    <%= f.email_field :email, autofocus: true, placeholder: "email" %>
    </td>
    <td>
    <%= f.password_field :pass, placeholder: "password" %>
    </td>
  </div>
</tr>
</table>
<div id="createbutton">
<%= f.submit "ENTER" %>
</div>
<% end %>

</div>