<div id="login">
<%= form_for @user, url: {controller: "static_pages", action: "login_authentication"}, html: {method: "post" } do |f| %>

  <div id="login_email_pass_container">
    <%= f.email_field :email, autofocus: true, placeholder: "email", class: "login_field" %>
    <%= f.password_field :pass, placeholder: "password", class: "login_field" %>
  </div>  
  <%= notice %>
<%= f.submit "Login", class: "createbutton" %>

<% end %>

</div>