
<div id="title" >Sign Up</div>
	<div style="padding-bottom: 5%;">
	<%= form_for @user, url: {controller: "static_pages", action: "create"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<%= notice %><br>
		<%= f.text_field :first_name, placeholder: "First Name", class: "login_field" %>
		<%= f.text_field :last_name, placeholder: "Last Name", class: "login_field" %>
		<%= f.email_field :email, placeholder: "Your Email Address", class: "login_field", id: "email"%>
		<%= f.password_field :pass, placeholder: "New Password", class: "login_field", id: "pass" %>
		<%= f.password_field :password_confirmation, placeholder: "Re-Enter Password", class: "login_field" %><br><br>
		<%= f.label :gender, "Gender:" %> &emsp;
		<%= f.radio_button :gender, "Male"%>Male
		<%= f.radio_button :gender, "Female"%>Female
		<br><br>

		<%= f.submit "Create", class: "createbutton", id: "createbutton" %>

	<% end %>
</div>

