<div id="title">Sign Up</div>
<div>
<%= form_for @user, url: {controller: "static_pages", action: "create"} do |f| %>

	<table>
	<tr>
	    <td>
	    	<%= f.label :first_name, "First Name" %>
	    </td>
	    <td>
	    	<%= f.text_field :first_name, placeholder: "First Name" %>
	    </td>
	</tr>
	<tr>
	    <td>
	   		<%= f.label :last_name, "Last Name" %>
	    </td>
	    <td>
			<%= f.text_field :last_name, placeholder: "Last Name" %>
		</td>
	  </div>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :email, "Email" %>
	    </td>
	    <td>
	    	<%= f.email_field :email, placeholder: "Your Email Address" %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :pass, "Password" %> 
	    </td>
	    <td>
	    	<%= f.password_field :pass, placeholder: "New Password" %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :password_confirmation, "Confirm Password" %>
	    </td>
	    <td>
	    	<%= f.password_field :password_confirmation, placeholder: "Re-Enter Password" %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :gender, "Gender" %>
	    </td>
	    <td>
	    	<%= f.radio_button :gender, "Male"%>Male
	    	<%= f.radio_button :gender, "Female"%>Female
	    </td>
	</tr>
</table>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="createbutton">
<%= f.submit "Create an Account"%>
</div>
<% end %>
</div>

<div id="cancelbutton">
	Cancel
</div>