<div class="small_book_container">
	<div class="inner_book_container">

	<div id="account_title">
		Account Information
	</div>

	<%= form_for @user, url: {controller: "static_pages", action: "update"} do |f| %>

	<table>
	<tr>
	    <td>
	    	<%= f.label :first_name, "First Name" %>
	    </td>
	    <td>
	    	<%= f.text_field :first_name %>
	    </td>
	</tr>
	<tr>
	    <td>
	   		<%= f.label :last_name, "Last Name" %>
	    </td>
	    <td>
			<%= f.text_field :last_name %>
		</td>
	  </div>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :email, "Email" %>
	    </td>
	    <td>
	    	<%= f.email_field :email %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :pass, "Password" %> 
	    </td>
	    <td>
	    	<%= f.password_field :pass, placeholder: "New Password" %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :password_confirmation, "Confirm Password" %>
	    </td>
	    <td>
	    	<%= f.password_field :password_confirmation, placeholder: "Re-Enter Password" %>
	    </td>
	</tr>
	<tr>
	    <td>
	    	<%= f.label :gender, "Gender" %>
	    </td>
	    <td>
	    	<%= f.radio_button :gender, "Male"%>Male
	    	<%= f.radio_button :gender, "Female"%>Female
	    </td>
	</tr>
</table>
<div id="updatebutton">
<%= f.submit "Edit"%>
</div>
<% end %>
	</div>
</div>