<div class="home-container">
	<div class="home_page_text">
		<%= image_tag "bookborrow-logo.png", id: "bb-logo", alt: "Book Borrow Logo" %> 
		<div id="signup-container">
		<div id="signup-title" >Sign Up</div>
			<%= form_for @user, url: {controller: "static_pages", action: "create"} do |f| %>
		  		
		  		 <!-- Error message: Unscuccessful login -->
				     <% if flash[:unsuccessful_signup] %>
				        <div id="unsuccessful_login">
				            <%= flash[:unsuccessful_signup] %>
				        <span id="close_unsuccessful_login">&times;</span>
				        </div>
				    <% end %>

				<%= notice %><br>
				<%= f.text_field :first_name, placeholder: "First Name", class: "login_field" %>
				<%= f.text_field :last_name, placeholder: "Last Name", class: "login_field" %>
				<%= f.email_field :email, placeholder: "Your Email Address", class: "login_field", id: "email"%>
				<%= f.password_field :pass, placeholder: "New Password", class: "login_field", id: "pass" %>
				<%= f.password_field :password_confirmation, placeholder: "Re-Enter Password", class: "login_field" %>
				<br>
			
				<%= f.submit "Create", class: "createbutton", id: "createbutton" %>
				<%= link_to "Cancel", root_path ,id: "cancel-button" %>
			
			<% end %>
		</div>
		</div>

	</div>
</div>
