<<<<<<< HEAD
<div class="header_container">
	<div class="nav_container">
		<%= link_to image_tag("black-bookborrow-log.png"), book_index_path,  id: "small-bb-logo" %>
		<ul id="nav_menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Categories</a>
				<ul>
					<li><a href="#">Law</a></li>
					<li><a href="#">Arts</a></li>
					<li><a href="#">Science</a></li>
					<li><a href="#">Engineering</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#"></a>Social Science</li>
					<li><a href="#"></a>Medicien</li>
				</ul>
			</li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li id="postbutton">
				<%= link_to "Post", new_book_path %>
			</li>
			<li id="account_dropdown">
				<a href="#">
					<%= @user.first_name %> <%= @user.last_name %>
				</a>
				<ul>
					<li><%= link_to "Account Info", account_path(@user) %></li>
					<li><%= link_to "My Posts", my_posts_path %></li>
					<li><%= link_to "Logout", root_path %></li>
				</ul>
			</li>
		</ul>

		<%= form_tag book_index_path, :method => :get , id:"search_bar" do %>
		<%= select_tag :category, options_for_select(array_of_faculties), onMouseOver:"this.style.width='100px'" , 
		onMouseLeave:"this.style.width='50px'",
		onblur:"this.style.width='50px'", onChange:"this.style.width  =  '50px'" ,style:"width:50px"%>
		<%= text_field_tag :search, params[:search], placeholder: "" %>
		<%= submit_tag "Search", name: nil, class: "submit_button" %>
		<% end %>

=======
<div class="header_container">abd
	<div class="nav_bar">
hahah
	</div>
	<!--<%= link_to image_tag("black-bookborrow-log.png"), book_index_path,  id: "small-bb-logo" %> 
	<div id="account_dropdown">
		<ul>
			<div id="topdropdown">
				<li><%= @user.first_name %> <%= @user.last_name %> <%= image_tag "tri.png", size:"10x6", class: "tri" %> </li>
			</div>
			<div id="dropdown">
				<li><%= link_to "Account Info", account_path(@user) %></li>
				<li><%= link_to "My Posts", my_posts_path %></li>
				<li><%= link_to "Logout", root_path %></li>
			</div>
		</ul>
	</div>
	
	<div id="search_bar">
		<%= form_tag book_index_path, :method => :get do %>
		<%= select_tag :category, options_for_select(array_of_faculties)%>
		<%= text_field_tag :search, params[:search], placeholder: "" %>
		<%= submit_tag "Search", name: nil, class: "submit_button" %>
		<% end %>
	</div>
	<div id="menu-bar">
		Home | Law | Arts | Science | Engineering | Business | Social Science | Medicine
	</div>
	<div id="number-book-results"></div>
	<div id="postbutton">
		<%= link_to "Post", new_book_path %>
	</div>
-->
>>>>>>> ad3cef06b324c9b7a257c3a1e3de6c34d8f5aa65

</div>