<div class="book_container">
	<div class="inner_book_container">
		<div id="header_container">
		<%= link_to image_tag("black-bookborrow-log.png"), book_index_path,  id: "small-bb-logo" %> 

			<div id="account_dropdown">
				<ul>
					<div id="topdropdown">
					<li>
						<%= @user.first_name %> <%= @user.last_name %> <%= image_tag "tri.png", size:"10x6", class: "tri" %> 
					</li>
					</div>
						<div id="dropdown">
						<li>
							<%= link_to "Account Info", account_path(@user) %>
						</li>
						<li>
							<%= link_to "My Posts", "#" %>
						</li>
						<li>
							<%= link_to "Logout", root_path %>
						</li>
						</div>
				</ul>
			</div>
		</div>
		<div id="search_bar">
			<%= form_tag book_index_path, :method => :get do %>
				<%= select_tag :category, options_for_select([['All', 'All'], ['Law', 'Law'],['Science', 'Science'],['Engineering', 'Engineering'], ['Business', 'Business'], ['Social Science', 'Social Science'], ['Medicine', 'Medicine']])
								%>
			    <%= text_field_tag :search, params[:search], placeholder: "search the book title or description..." %>
			    <%= submit_tag "Search", name: nil, class: "submit_button" %>
			<% end %>
		</div>
		<div id="menu-bar">
			Home | Law | Arts | Science | Engineering | Business | Social Science | Medicine
		</div>
		<div id="number-book-results"></div>
			<div id="postbutton">
				<%= link_to "Post", new_book_path %>
			</div>
		<div id="body_container">
		<div id="bread-crumbs"> Home </div>

			<%= render 'book_table' %>
		</div>
	</div>
			<%= render 'requestmodal' %>
</div>