<div class="book_container">
	<div class="inner_book_container">
		<div id="header_container">
			<div id="account_dropdown">
				<ul>
					<div id="topdropdown">
					<li>
						<%= @user.first_name %> <%= @user.last_name %> <%= image_tag "tri.png", size:"10x6", class: "tri" %> 
					</li>
					</div>
						<div id="dropdown">
						<li>
							<%= link_to "Account Info", account_path(@user) %>
						</li>
						<li>
							<%= link_to "Book Posts", "#" %>
						</li>
						<li>
							<%= link_to "Logout", root_path %>
						</li>
						</div>
				</ul>
			</div>
		</div>
		<div id="search_bar">
			<%= form_tag book_index_path, :method => :get do %>
			    <%= text_field_tag :search, params[:search], placeholder: "" %>

			    <%= submit_tag "Search", class: "submit_button" %>
			<% end %>
		</div>

		<div id="body_container">
			<div id="postbutton">
				<%= link_to "Post", new_book_path %>
			</div>

			<%= render 'book_table' %>
		</div>
	</div>
			<%= render 'requestmodal' %>
</div>