<div id="footer-outter-container">
	<div id="footer-inner-container">

	<span id="signature">Built by <%= link_to "Menelik Tucker", "https://github.com/mtuck063" %> &amp; 
						<%= link_to "Yilin Han", "https://github.com/philo1314" %></span>
	<table>
		<tr>
		<td style="border-right: 1px solid #eee;"><%= link_to "About Us", '#' %></td>
		<td style="border-right: 1px solid #eee;"><%= link_to "Contact Us", '#' %></td>
		<td style="border-right: 1px solid #eee;"><%= link_to "Careers", '#' %> </td>
		<td ><%= link_to "Privacy Policy", '#' %></td> 
		</tr>
	</table>
	</div>
</div>