<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
<<<<<<< HEAD
=======
    <%= render 'layouts/header' %>
>>>>>>> ad3cef06b324c9b7a257c3a1e3de6c34d8f5aa65

    <%= yield %>

    <%= render 'layouts/footer'%>
  </body>

</html>

